<?xml version="1.0" encoding="utf-8" ?>
<assets defaultProvider="local">
  <providers>
    <clear />
    <add name="local" type="Chiffon.Infrastructure.LocalAssetProvider, Chiffon" />
    <add name="remote" type="Chiffon.Infrastructure.RemoteAssetProvider, Chiffon" baseUri="http://localhost:8080/assets/" />
  </providers>
</assets>
