
/*  Freely adapted from H5BP v4.2.0
 * ============================================================================================== */

/* Image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px; }
  .ir:before { content: ""; display: block; width: 0; height: 150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout*/
.invisible { visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clr:before,
.clr:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clr:after { clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clr { *zoom: 1; }

/*
 * ============================================================================================== */

.right { float: right; }
.left { float: left; }
.clear { clear: both; }

/* Terminaison manuelle des blocs flottants */
/* .clear { height: auto; display: block; clear: both; } */
/*.clear { clear: both; height: 1px; margin: 0; padding: 0; font-size: 1px; line-height: 0; display: block; }*/
/* Terminaison automatique des blocs flottants */
/*.clr:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }*/

.hide { display: none; }

/* Inlined list: UL > LI > A */

UL.inline LI { float: left; }
UL.inline A { display: inline-block; }

/* Centered list: UL > LI */

UL.center { text-align: center; }
  UL.center LI { display: inline-block; }