@{
 ViewBag.Title = "Pour quel motif, Simone ?";
 ViewBag.Id = "home";
 //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MemberMenu")
<ul class="mosaic shadow len_100 clr">
 <li><a href="register.html" rel=modal class="vignette vd">
  <img src="assets/img/viviane-devaux/motif1_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="assets/img/chicamancha/motif1_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="assets/img/christine-legeret/motif1_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="assets/img/laure-roussel/motif1_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="assets/img/chicamancha/motif2_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="assets/img/christine-legeret/motif2_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="assets/img/viviane-devaux/motif2_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="assets/img/laure-roussel/motif2_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="assets/img/christine-legeret/motif3_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="assets/img/laure-roussel/motif3_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="assets/img/viviane-devaux/motif3_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="assets/img/chicamancha/motif3_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="assets/img/laure-roussel/motif4_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="assets/img/viviane-devaux/motif4_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="assets/img/chicamancha/motif4_apercu.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="assets/img/christine-legeret/motif4_apercu.jpg" alt="" /></a></li>
</ul>
