<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".g.cs" #>
<#@ include file=".\CodeTemplates\ResourceNames.tt" #>
<# ResourceNamesTemplate("Strings_Views.resx"); #>