@model NewContactViewModel

<div class=account_register>
 <div class="serif serif_large text_center">
  <p>
   Bonjour @Model.Firstname @Model.Lastname,
  </p>
  <p>
   Merci de vous être enregistré sur notre site.
   <span class=block></span>
   Votre mot de passe est le suivant&nbsp;:
  </p>
  <p>
   <span class=public_key>@Model.PublicKey</span>
  </p>
  <p>
   Vous pouvez d'ores et déjà consulter notre <a href="@Model.NextUrl">catalogue</a>.
  </p>
 </div>
</div>
