@using Chiffon.Infrastructure

@model NewContactViewModel

<div class="account_postregister text_center fx_topborder">
 <p class="serif serif_large">
  @VR.Account_PostRegister_Success
 </p>
 <p class="serif serif_medium">
  @{ Html.RenderPartial(Constants.ViewName.Account.PostRegisterEmail, Environment.Language); }
 </p>
 <p class="serif serif_medium">
  <a href="@Model.NextUrl" class=text_underline>@VR.Account_PostRegister_BrowseGallery</a>
 </p>
 <p class="serif serif_large">
  @VR.Account_PostRegister_Byebye
 </p>
</div>
