<div class=contact_register>
 <div class="serif serif_large grey center">
  <p>
   Nous sommes désolés mais l'adresse avec laquelle vous souhaitez vous enregistrer est déjà prise.
  </p>
 </div>
</div>
