@model RegisterSuccessViewModel

<div class=account_register>
 <h2>@VR.Account_RegisterConfirmation_Heading</h2>
 <p class=highlight_text>
  @VR.Account_RegisterConfirmation_EmailSent
 </p>
 <p class=switch>
  <a href="@Model.NextUrl">@VR.Account_RegisterConfirmation_BrowseGallery</a>
 </p>
</div>
