<div class=account_register>
 <p class=highlight_text>@VR.Account_RegisterEmailAlreadyTaken_Heading</p>
 <p class=switch>
  <a href="@Url.RouteUrl(Constants.RouteName.Account.Register)">@VR.Account_RegisterEmailAlreadyTaken_Register</a>
 </p>
</div>
