<div class=account_register>
 <div class="serif serif_large text_center">
  <p>
   Nous sommes désolés mais l'adresse avec laquelle vous souhaitez vous enregistrer est déjà prise.
  </p>
 </div>
</div>
