<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- TODO: Résactiver la minification HTML -->
  <!--<system.web.webPages.razor>
    <host factoryType="Narvalo.Web.Optimization.MinifiedMvcWebRazorHostFactory, Narvalo.Web" xdt:Transform="Replace" />
  </system.web.webPages.razor>-->
</configuration>