<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<system.web.webPages.razor>
    <host factoryType="Narvalo.Web.Optimization.WhiteSpaceBusterMvcWebRazorHostFactory, Narvalo.Web" xdt:Transform="Replace" />
  </system.web.webPages.razor>-->
</configuration>