<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!--<add key="ClientValidationEnabled" value="true" />-->
  <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->

  <add key="chiffon.debugCss" value="false" />
  <add key="chiffon.debugJs" value="false" />
  <add key="chiffon.enableCaching" value="true" />
  <add key="chiffon.googleAnalytics" value="UA-43374044-1" />
  <add key="chiffon.logProfile" value="Production" />
  <add key="chiffon.logMinimumLevel" value="Information" />
  <add key="chiffon.passThroughToken" value="" />
  <add key="chiffon.patternDirectory" value="J:\home\github\ChiffonWebSite\_patterns" />
</appSettings>
