<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="assets" type="Narvalo.Web.Configuration.AssetSection, Narvalo.Web" />
  </configSections>
  <appSettings>
    <add key="chiffon:LogProfile" value="Development" />
    <add key="chiffon:LogMinimumLevel" value="Debug" />
    <add key="chiffon:PatternDirectory" value="J:\home\github\ChiffonWebSite\intern\patterns" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="SqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Chiffon.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configProtectedData defaultProvider="RsaProvider">
    <providers>
      <add name="RsaProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <system.web>
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" executionTimeout="60" maxRequestLength="1024" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
    <compilation debug="true" targetFramework="4.5.1" />
    <machineKey validation="SHA1" decryption="AES" validationKey="819F56A9B7BF628DDE3B7C87B29A07FA0EB9DE483F6C2E8F3F95FD23B9A45BD2CB72B83913F0803D6A370A08F7FC84428334F5F5889162FCF95011F11AFA344C" decryptionKey="F07BD8676463EFFF525286E90F8F35164362D2F4E6C8DFC6" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- WARNING: l'ordre est important -->
        <rule name="Aperçu d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/vignette-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=preview" appendQueryString="false" />
        </rule>
        <rule name="Image d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/motif-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=original" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Narvalo.Common" publicKeyToken="48027043888c7f5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.0.3" newVersion="0.4.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>