<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="assets" type="Narvalo.Web.Configuration.AssetSection, Narvalo.Web" />
  </configSections>

  <appSettings>
    <add key="chiffon:LogProfile" value="Development" />
    <add key="chiffon:LogMinimumLevel" value="Debug" />
    <add key="chiffon:PatternDirectory" value="J:\home\github\ChiffonWebSite\intern\patterns" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="SqlServer"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Chiffon.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <configProtectedData defaultProvider="RsaProvider">
    <providers>
      <add name="RsaProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- WARNING: l'ordre est important -->
        <rule name="Aperçu d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/vignette-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=preview" appendQueryString="false" />
        </rule>
        <rule name="Image d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/motif-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=original" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
