@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="designer clearfix">
 @RenderBody()
</div>

@section SecondaryNav {
 @{ Html.RenderPartial(Constants.ViewName.DesignerMenu); }
}
