<p class=noparsep>
 In accordance with the laws which govern the intellectual property rights in literary and artistic property, any part (patterns, illustrations and design) or all of the pourquelmotifsimone&nbsp;? web site are the exclusive property of the authors. As a consequence, any reproduction or representation of whole or part of the elements composing the pourquelmotifsimone&nbsp;? website are strictly prohibited without prior acceptance of the authors and will be subject to prosecution.
</p>
<p class=noparsep>
 Graphic design by viviane devaux. Code by chtoucas@narvalo.org.
</p>
