<?xml version="1.0" encoding="utf-8"?>
<!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
<configuration>
  <configSections>
    <section name="assets" type="Narvalo.Web.Configuration.AssetSection, Narvalo.Web" />
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <!-- Empêche les vues d'être accessible via le serveur web -->
    <add key="webpages:Enabled" value="false" />
    <!-- FIXME: Lorsque cette partie sera aboutie, il faudra mettre à jour
         toutes les transformations de configuration -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="MvcMailer.BaseURL" value="" />-->
    <!--<add key="chiffon:CssVersion" value="0.0.0" />-->
    <add key="chiffon:DebugStyleSheet" value="false" />
    <add key="chiffon:DebugJavaScript" value="false" />
    <add key="chiffon:EnableClientCache" value="true" />
    <add key="chiffon:EnableServerCache" value="true" />
    <!--<add key="chiffon:GoogleAnalytics" value="" />-->
    <!--<add key="chiffon:JavaScriptVersion" value="0.0.0" />-->
    <add key="chiffon:LogProfile" value="Development" />
    <add key="chiffon:LogMinimumLevel" value="Debug" />
    <add key="chiffon:PatternDirectory" value="J:\home\github\ChiffonWebSite\intern\patterns" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="SqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Chiffon.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <assets defaultProvider="local">
    <providers>
      <clear />
      <add name="local" type="Chiffon.Infrastructure.LocalAssetProvider, Chiffon" />
      <add name="remote" type="Chiffon.Infrastructure.RemoteAssetProvider, Chiffon" baseUri="http://localhost:8080/assets/" />
    </providers>
  </assets>
  <system.web>
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" executionTimeout="60" maxRequestLength="1024" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <!-- NB: la valeur du timeout (de session) est en minutes, on opte pour 1 heures -->
      <forms loginUrl="~/connexion" timeout="60" name=".auth" slidingExpiration="false" />
    </authentication>
    <machineKey validation="SHA1" decryption="AES" validationKey="819F56A9B7BF628DDE3B7C87B29A07FA0EB9DE483F6C2E8F3F95FD23B9A45BD2CB72B83913F0803D6A370A08F7FC84428334F5F5889162FCF95011F11AFA344C" decryptionKey="F07BD8676463EFFF525286E90F8F35164362D2F4E6C8DFC6" />
    <sessionState cookieName="sess" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab
      when using WebForms -->
    <!--
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/>
    -->
    <!-- Gestion des erreurs ASP.Net (hors MVC, celles-ci sont gérées via HandleError. -->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Errors/BadRequest.aspx">
      <error statusCode="404" redirect="~/Errors/NotFound.aspx" />
      <error statusCode="500" redirect="~/Errors/InternalServerError.aspx" />
      <error statusCode="503" redirect="~/Errors/ServiceUnavailable.aspx" />
    </customErrors>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="fr-FR" culture="fr-FR" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Attention ces profils ne sont applicables que pour des pages complètes -->
          <add name="Cache1Minute" duration="60" varyByParam="none" />
          <add name="Cache5Minutes" duration="300" varyByParam="none" />
          <add name="Cache1Hour" duration="3600" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <!-- 
    TODO: 
    Cf. http://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-application-initialization
    Cf. http://weblog.west-wind.com/posts/2013/Oct/02/Use-IIS-Application-Initialization-for-keeping-ASPNET-Apps-alive
    -->
    <!--<applicationInitialization 
      skipManagedModules="true" 
      remapManagedRequestsTo="App_Loading.html" 
      doAppInitAfterRestart="true">
      <add hostName="XXX" initializationPage="ping.ashx" />
    </applicationInitialization>-->
    <!--<serverRuntime enabled="true" frequentHitThreshold="1" frequentHitTimePeriod="1:00:00" />-->
    <directoryBrowse enabled="false" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <!--<add name="MiniProfiler" type="Chiffon.Common.MiniProfilerModule, Chiffon.WebSite" preCondition="managedHandler" />-->
      <add name="InitializeVSContext" type="Chiffon.Infrastructure.InitializeVSContextModule, Chiffon" preCondition="managedHandler" />
    </modules>
    <handlers>
      <!-- À voir si les 3 sont nécessaires ? A priori seule la version Integrated est nécessaire. -->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />-->
      <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Elmah" verb="POST,GET,HEAD" path="devil/elmah" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add name="Glimpse" path="devil/glimpse" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
      <!--<add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />-->
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- 
      Gestion des erreurs par IIS.
      Listes of sous-codes :
      http://support.microsoft.com/kb/943891
      http://www.west-wind.com/weblog/posts/2009/Apr/29/IIS-7-Error-Pages-taking-over-500-Errors
      -->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" path="/Errors/NotFound.aspx" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Errors/InternalServerError.aspx" responseMode="ExecuteURL" />
      <remove statusCode="503" />
      <error statusCode="503" path="/Errors/ServiceUnavailable.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <!--<mimeMap fileExtension=".gadget" mimeType="application/x-windows-gadget" />-->
    </staticContent>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doStaticCompression="true" doDynamicCompression="true" staticCompressionLevel="9" dynamicCompressionLevel="4" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <!--<add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />-->
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <!--<add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />-->
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <!-- 
    On désactive la compression dynamique car elle interfère avec Glimpse.
    Cf. https://github.com/Glimpse/Glimpse/issues/33
    -->
    <urlCompression doStaticCompression="true" doDynamicCompression="false" dynamicCompressionBeforeCache="true" />
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="MapProtocol" defaultValue="OFF">
          <add key="ON" value="https://" />
          <add key="OFF" value="http://" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <clear />
        <rule name="Nom de domaine canonique, sans www">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.pourquelmotifsimone\.com" />
          </conditions>
          <action type="Redirect" url="{MapProtocol:{HTTPS}}pourquelmotifsimone.com/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- WARNING: l'ordre est important -->
        <rule name="Aperçu d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/vignette-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=preview" appendQueryString="false" />
        </rule>
        <rule name="Image d'un motif" stopProcessing="true">
          <match url="^(chicamancha|viviane-devaux|petroleum-blue|laure-roussel)/motif-([0-9a-z]+)-([0-9a-z]+)?.jpg$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="motif?designer={R:1}&amp;reference={R:2}&amp;version={R:3}&amp;size=original" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Narvalo.Common" publicKeyToken="48027043888c7f5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.0.3" newVersion="0.3.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="100" />
  </elmah>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/devil/glimpse">
    <!-- If you are having issues with Glimpse, please include this. It will help us figure out whats going on. -->
    <!--<logging level="Trace" />-->
    <!-- Want to use Glimpse on a remote server? Ignore the LocalPolicy by removing this comment. -->
    <!--<runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
      </ignoredTypes>
    </runtimePolicies>-->
  </glimpse>
  <system.net>
    <mailSettings>
      <!-- NB: En phase de développement, on utilise un serveur SMTP local.
               Un outil simple pour tester les mails est http://papercut.codeplex.com/
      -->
      <smtp from="Pour quel motif Simone ? &lt;contact@pourquelmotifsimone.com&gt;" deliveryFormat="International">
        <network host="127.0.0.1" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>