<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Suppression des utilitaires de développement -->
  <configSections>
    <sectionGroup name="elmah" xdt:Transform="RemoveAll" xdt:Locator="Match(name)"/>
    <section name="glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  </configSections>

  <elmah xdt:Transform="RemoveAll" />
  <glimpse xdt:Transform="RemoveAll" />

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="ErrorFilter" xdt:Transform="Remove" xdt:Locator="Match(name)" />-->
      <add name="ErrorLog" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </modules>

    <handlers>
      <add name="Elmah" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </handlers>

    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="365.00:00:00" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT"
                   xdt:Transform="Insert" />
    </staticContent>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l’exemple ci-dessous, la transformation "Replace" remplacera toute
      la section <customErrors> de votre fichier Web.config.
      Dans la mesure où il n’y a qu’une section customErrors sous le
      nœud <system.web>, il n’est pas nécessaire d’utiliser l’attribut "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

  </system.web>
</configuration>