<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="elmah" xdt:Transform="RemoveAll" xdt:Locator="Match(name)"/>
    <section name="glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  </configSections>

  <elmah xdt:Transform="RemoveAll" />
  <glimpse xdt:Transform="RemoveAll" />

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="ErrorLog" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="InitializeVSContext" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </modules>

    <handlers>
      <add name="Elmah" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </handlers>

    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="365.00:00:00" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT"
                   xdt:Transform="Insert" />
    </staticContent>

    <urlCompression doDynamicCompression="true" xdt:Transform="SetAttributes(doDynamicCompression)" />
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies domain=".pourquelmotifsimone.com" xdt:Transform="SetAttributes(domain)" />
    <trace enabled="false" xdt:Transform="Replace" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)" />
  </system.webServer>
</configuration>