<html>
<head>
 <title></title>
</head>
<body>
 <p>
  Le collectif pour quel motif simone ?
 </p>
 <ul>
  <li>Chicamancha</li>
  <li>Viviane Devaux</li>
  <li>Petroleum Blue</li>
  <li>laure Roussel</li>
 </ul>
 @RenderBody()
 <ul>
  <li>Info</li>
  <li>Contact</li>
  <li>Se désabonner</li>
 </ul>
</body>
</html>