<p>
 Les Simones vous remercient de l'intérêt que vous avez souahité leur accorder.
</p>
<p>
 Votre compte est <span class=underline>activé</span> !
</p>
<p><a href="#">Je feuillette le portfolio</a></p>
<ul>
 <li>Votre identifiant : @ViewBag.EmailAddress</li>
 <li>Votre mot de passe : @ViewBag.Password</li>
</ul>
<p>
 Nous vous informons que vos identifiants, dans un souci de confidentialité, ont un délai d'expiration de 48H.
</p>
<p>
 Passé ce délai, il vous faudra <a href="#">renouveler votre mot de passe</a>.
</p>
