<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <MainWebSite deploy="true">
    <SourceRelativePath>website</SourceRelativePath>
    <BackupPackage>Default Web Site.zip</BackupPackage>
    <IISAppPool>DefaultAppPool</IISAppPool>
    <IISWebSite>Default Web Site</IISWebSite>
    <IISPhysicalPath>C:\Tmp\inetpub\wwwroot</IISPhysicalPath>
  </MainWebSite>
  <MediaWebSite deploy="false" />
  <AssetsWebApp deploy="false" />
</configuration>