
BODY, INPUT, .sansserif { font-size: 62.5%; /* 16px (default font size) * .625 = 10px */ line-height: 1.4; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

*, UL { margin: 0; padding: 0; }

IMG, AUDIO, CANVAS, IMG, VIDEO { vertical-align: middle; }

FIELDSET { border: 0; margin: 0; padding: 0; }

TEXTAREA { resize: vertical; }
