/*
 * TODO:
 * - no margin for paragraph in sidebar
 * - http://www.phpied.com/mhtml-when-you-need-data-uris-in-ie7-and-under/
 * - http://webcodertools.com/imagetobase64converter/Create
 */

/* Imports
 * ============================================================================================== */

/*@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400italic");*/

/* Règles générales
 * ============================================================================================== */

A { color: #000; text-decoration: none; transition: all .2s ease-in-out; }
  A:hover, A:focus { color: #ccc; text-decoration: none; text-shadow: 0 0 10px rgba(255, 255, 255, .25); }

/* Régles réutilisables
 * ============================================================================================== */

P.tidy { margin: 0; }

A.underline { text-decoration: underline; }
A.reverse { color: #999; }
  A.reverse:hover { color: #000; }

.darkgrey { color: #999; }
.grey { color: #ccc; }

.serif { font-family: "Droid Serif", Georgia, "Times New Roman", serif; font-style: italic; }
.serif_medium { font-size: 2.8em; line-height: 1.5em; }
.serif_large { font-size: 3.6em; line-height: 1.5em; }

.highlight:focus { box-shadow: 0 0 12px rgba(204, 204, 204, 0.37); }

/* Overlay */
/* TODO: width & height ne doivent pas être nécessaires */
/*.overlay { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: .8; z-index: 100; }*/
.overlay { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; margin: 0; background-color: #000; opacity: .8; z-index: 100; }

.watermark { left: 0; position: absolute; top: 0; width: 100%; height: 100%; }

/* En-tête barrée */

.strike { border-top: solid 2px #999; border-bottom: solid 2px #999; background: no-repeat center center /*url("img/strike.png")*/ url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA6wAAAABCAIAAABVM7S+AAAAGklEQVRIx+3BAQEAAAABIP9XmWaIKgUAgDMD3W5DeVtFedYAAAAASUVORK5CYII=); }

/* Motif */

.pattern { position: relative; display: block; width: 700px; height: 520px; }
  /* couleur par défaut visible quand l'image n'existe pas */
  /*.pattern .watermark { background-color: #ddd; }*/
  .pattern .watermark SPAN { position: absolute; right: 0px; bottom: 0px; background-color: #fff; font-weight: bold; text-transform: uppercase; padding: .5em 1em; }

/* Vignette */

/* #eee couleur par défaut visible quand l'image n'existe pas */
.vignette { position: relative; display: block; width: 220px; height: 160px; background-color: #eee; transition: all .2s ease-in-out; }
  .vignette IMG { width: 220px; height: 160px; }
  .vignette SPAN { display: none; position: absolute; right: 12px; bottom: 9px; color: #fff; font-weight: bold; }
  .vignette .overlay { position: absolute; z-index: 0; opacity: .7; }
  .vignette:hover SPAN, .vignette:hover .overlay { display: block; }

.cl:hover .watermark { /*background: url("img/watermarks/cl.png");*/ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACgCAMAAABQZPIJAAAAP1BMVEX///////////////////////////////////////////////////////////////////////////////////81m6ZbAAAAFHRSTlMADxAgMEBQYHB/h4+Wn6+/z9/v8KJc2sgAAAIbSURBVHja7dnRbptAFEXRU4bxcOvSwZPz/9/aByBMiqWkkq026V4vsdDAZQcwkSIBAAAAAAAAAAAAAAAAAAAAAAAAAPD/+P7iT+PHn8a9fPs8F8LEEUccccQR9w/HlWn4snG5jX//yuX8zj7DuyvuGtOHJzwrrjTbIak6S+GQqm23qyRb0tV2K9tmO68rvS7P+/a6dewf1sWxTWjrhG3hMWDflN0f5FFxxcvlsri8jZsjmssaV/wzl9YGlZh9i0h73PIaN0dEOcVFROTXCZdu4TFg35Qibp73gzwqrjlJqV7fxu2fbClcpBzpOPMtzrHHdXddF9dPGGt0C38b1W18aNzo5Tj4UuttnTjlvLS0nmFqXq6X/szXuFpb2uKWWuv5ytVa67hOyDmP3cJjQLfv4+PycZv3cbY97b/+NN/sZTjFja4fiMuu0v6ovcbtA54al9wk6XxbDtXblRuzlGZPpziFb+/flslNynmN627LdcBTb0tVT9Lk+c4zl9cznJ2lci9uuPkDz9w2oZ6fufzsuHTzsrgNp7hp/7Ycm5fqls5xyr7zKrBtd6+CsXlZ3OqbV8E+oNv3CXEaplqvg6QSScqRt08pLlKEpHSt9ZokKa3f1SWSFEXSFEkqEcerIEVEREjrz7xO+HnJpVt4DOj2LZH4w5k44ogjjjjiiPt6cV/6X1gAAAAAAAAAAAAAAAAAAAAAAAAAAHxmvwCFukg42LzQ9AAAAABJRU5ErkJggg==); }

.em:hover .watermark { /*background: url("img/watermarks/em.png");*/ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACgCAMAAABQZPIJAAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMAECAwQFBgcH+Plp+vv8/f7//rjHAAAAHgSURBVHja7dnNjptAEEXh29BAEeif+/4vmwWWMeNsEkXDJHO+BZtSIR3TNgtLAAAAAAAAAAAAAAAAAAAAAAAAAAB8Sz/8Jf34K3H+mp+5iSOOOOKII4444n5pyMNvDv7gXvfEpWK7jlI4pOzyuJwDabKTJNlV0mpnSapeJSlcJF1XjjvYkpTs6aa4VB053N7izoG02fMR51FqR9zgYxj2dMSdK69xs73dFLd4kxRl/Bh3DpS89ypJ7l41ujtLWr15OuJ60nXlNa72/Xjunx+3P89MuJVSn3HnQLPnzYMkl9a0enOW1NpwxDi86rqS3UsptqTB23w898+PK8f35z3uHKj2NHmV5LJ6bDWcpcmh6iSF8+4PKy9xq3NyvSdu8yJpfj+W52B0L8Vdksvo4jmcpd21NC9SOKferisvx7K7lO7xlrjslpSah49x52B1LaU9fjWqncJZ6Xg2VQpnLb6unHHTcR7We14F4V664/1V8Bz0LmnyLrlo8f7IWSRVjwpnqVxXzrjdo5Tc74lT3so+ScqRpSHmx+U5GGKSpAgpZg2RlWPQHOmxk2OQxsvK4w4RUiySNMdwT9ytiCOOOOKII464bx33X/+FBQAAAAAAAAAAAAAAAAAAAAAAAADAP+cnCmkx69cvEdAAAAAASUVORK5CYII=); }

.lr:hover .watermark { /*background: url("img/watermarks/lr.png");*/ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACgCAMAAABQZPIJAAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMAECAwQFBgcH+Plp+vv8/f7//rjHAAAAHHSURBVHja7dnBbqNAEEXRBzRQBFc37/9/dhbYGNua3YzITO5ZRBWLsnwTMJYsAQAAAAAAAAAAAAAAAAAAAAAAAADwI335W/r6I3H+nn9zE0ccccQRRxxxxP1JXSkfj/VleBsuiivOx7i4SlI4JNlSsW3XQYr9M+DjWWy7TfvB9ja+bHVpuw2n4djeD7okrtn9W1yLuLlJ4YyIOOIiFruXwnWcNpfz1uoo4TwNx/Z1caNXL29xeZ9eX5UtKV2kzb00+XbeSvfSFKfh2L4ubnXf2ltcLWX2IoVbZi5HXCnjVqWyn8jPfFsa7YxBp+HYviyuc2rx+HnNte4zzvZWjuXXOJXbZq+n4fq42S3r6wlWnNK4v7z307LfmtS76f7ztDVIQ/XwHK4/Laszc3OnySkVt+Oay99cc5LSs3Rz6LTVtk5aPTyHC+P2t+nBN0mLZ3XVLe3xEbe1z1uBpJt7adhcm2un09ZkZ3U9Dadbge3n2/Nfj+sjIiJUYpDUxyR1c+ZaHr9pik7lftT9HxDSfaFbMudOOm2prPfHHsOxvQ8TH7+II4444ogjjrgfE/dff4UFAAAAAAAAAAAAAAAAAAAAAAAAAMA/5xd6pTOtEhB/zAAAAABJRU5ErkJggg==); }

.vd:hover .watermark { /*background: url("img/watermarks/vd.png");*/ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACgCAMAAABQZPIJAAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMAECAwQFBgcH+Plp+vv8/f7//rjHAAAAIlSURBVHja7dndjpswFEXhZWPgUPDPfv+X7YWHTlKld23UdvZ3GYXkrMjGSAEzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM7Mv6Zv+St9+S5z+zt9cjnOc4xznOMc5znFfJm7XAYyRkGAowa4gFACHGkDRSFAFZT4MlnlxlaSrADFfZ1EDLhVI0gogAaEgDS3kMdLb4rIarDrnEKdWaMp3XJcyUKTjjusREfmOO+OUCoRqRAR0JZI6sEnnUxyrKtcsftOybMqzSZqVWe1jGFadOmacykdcfbi2qsCu634/cGhj0wG0cSk9xXHq0vXOPbdrZ4x7iDHYtX8Ok3sHio7RPuJGrbU+xiUJQr3WesCii0sLZJ2btue41PViUf7BuKy26LyHOLVeyh/DJFUOrVAUu+IXcTzF0ZVGBw6VpPZTXFN/axxNcx9IwKpL7R5mV69NFxQFVf31sszqD8uSQ9e8R6nWoeUp7lDX8da4XRo/Nj5D2u9hmmqtQ4miYJFexqWqeIxbJC2wqtfadEBXgaoNilrq9532PXH58a7GOe+PoWDRBRzaKXP+10eBavo8CoCuDnPfJQ3YpNrVIHUtrK8W5h88xPdYACIAltgBShRKLECOjRwFUgTkiIejYIuIKPP9MY8CWGMF5sdskaGcte4Jltg+v81PKI5znOMc5zjHOe5LxP3Xf2GZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZn9c74D3Wwzk/fiWRwAAAAASUVORK5CYII=); }

/* Mosaïque */

.mosaic { padding: 0; list-style-type: none; overflow: hidden; }
  .mosaic LI { float: left; margin-right: 20px; margin-bottom: 20px; }

/* "Grille" */

.len_100 { width: 960px; /* body.width(940px) + LI.margin-right(20px) */ }
.len_75 { width: 740px; /* 3/4 * body.width(940px) + LI.margin-right(20px) */ }

/* Disposition par défaut
 * ============================================================================================== */

BODY { width: 940px; margin: 0 auto; }

HEADER { padding-top: 19px; }

FOOTER { margin-bottom: 20px; border-top: solid 2px #ccc; text-transform: uppercase; font-variant: small-caps; }
  FOOTER P { margin: 20px 0 0; }

/* Titre principal */

H1 { margin: 0 auto; text-align: center; font-weight: normal; text-transform: uppercase; font-size: 1.8em; }
  H1 EM, H1 STRONG { font-style: normal; font-weight: bold; }

/* Menu des langues */

#nav_lang { border-bottom: solid 2px #000; }
  #nav_lang UL { margin-bottom: 6px; font-weight: bold; }
  #nav_lang LI { padding-left: 5px; }

/* Menu principal */

#nav_main UL { position: relative; height: 58px; text-transform: uppercase; }
#nav_main LI { margin: 22px 10px 0 0; }
#nav_main .right { position: absolute; right: 0; margin-right: 0; }
/* Mise en valeur la page courante dans les menus */
#nav_main.index #nav_home,
#nav_main.about #nav_about,
#nav_main.contact #nav_contact,
#nav_main.newsletter #nav_newsletter { color: #f00; }

/* Menu des designers */

#nav_designers UL { height: 66px; font-size: 1.8em; font-style: italic; }
#nav_designers LI { width: 220px; margin: 22px 20px 0 0; text-align: center; }
#nav_designers A { padding: 0 .5em; background: #fff; }
#nav_designers .last { margin-right: 0; }
#nav_designers.cl #nav_designers_cl,
#nav_designers.em #nav_designers_em,
#nav_designers.vd #nav_designers_vd,
#nav_designers.lr #nav_designers_lr { color: #f00; }

/* Ajax status */

#ajax_status { background-color: #fef087; /* border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0 5px 15px #ccc; */ display: none; font-size: 1.3em; font-weight: 700; padding: .3em 1em; position: fixed; right: 45%; top: 0; z-index: 1000; }

  #ajax_status.ajax_error { background-color: red; color: white; }

/* Erreurs */

#error_container { display: none; list-style-type: none; color: #ff0000; }
INPUT.error { border: 1px solid #ff0000 !important; }
/*INPUT.valid { border: 1px solid green !important; }*/

/* Page - Home
 * ============================================================================================== */

.home_index .mosaic { margin: 23px 0 3px 0; }

/* Page - About
 * ============================================================================================== */

.home_about { margin-bottom: 2em; margin-top: 1em; }

/* Page - Contact
 * ============================================================================================== */

.home_contact { margin-bottom: 5em; text-align: center; }
  .home_contact H2 { margin: 0; padding: .5em 0 1em 0; border-top: 2px solid #999; font-weight: normal; }
    .home_contact H2 A { display: block; font-size: .7em; }
  .home_contact #designers { font-style: italic; font-size: 1.538em; }
  .home_contact H3 { width: 100%; margin: 0; margin-bottom: 1.2em; padding: 1em 0; font-weight: normal; border-color: #ccc; }
    .home_contact H3 A { padding: 0 .5em; background: #fff; }
  .home_contact UL { padding: 0; list-style-type: none; }
  .home_contact #designers LI { float: left; width: 220px; margin-right: 20px; }
    .home_contact #designers LI:last-child { margin-right: 0; }
  .home_contact .img { position: relative; margin-bottom: 1.2em; }
  .home_contact .email { padding: 2em 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 13px; }
  .home_contact .web { margin-top: 1em; text-align: right; font-size: 13px; font-style: normal; }

/* Page - Register
 * ============================================================================================== */

.contact_register { border-top: solid 2px #999; }
  .contact_register FORM { width: 750px /*79%*/; margin: 0 auto; color: #999; }
    .contact_register FORM P { margin-top: 0; }
    .contact_register FORM .left { margin-top: 0; }
  .contact_register LABEL { text-transform: uppercase; font-size: 1.1em; padding-bottom: .5em; }
  .contact_register INPUT { text-transform: uppercase; width: 218px; height: 24px; font-size: 1.4em; padding: .3em .5em; background-color: transparent; border: 1px solid #999; }
    .contact_register INPUT[name="EmailAddress"] { text-transform: none; }
  .contact_register TEXTAREA { width: 434px; height: 229px; font-size: 1.4em; font-style: italic; padding: .2em; background-color: transparent; border: 1px solid #999; }
  .contact_register .submit { text-align: right; margin-top: 2em; }
  .contact_register INPUT[type=submit] { width: 160px; height: 32px; color: #999; }
    .contact_register INPUT[type=submit]:hover { color: #000; border-color: #000; }

  .contact_register .public_key { color: #000; border: 1px #000 solid; padding: .1em .5em; }
  .contact_register .validation-summary-errors { font-size: 1.3em; text-align: center; margin-bottom: 2em; color: red; }
    .contact_register .validation-summary-errors UL { list-style-type: none; }
  .contact_register #error_container { text-align: center; }

.modal .contact_register { border-top: none; }
.modal .contact_register INPUT[type=submit]:hover { border-color: #fff; }

/* Page - Login
 * ============================================================================================== */

.contact_login { border-top: solid 2px #999; }
  .contact_login #hello { margin-bottom: 2em; }
  .contact_login FORM { margin-bottom: 7em; }
    .contact_login FORM A { text-transform: none; }
  .contact_login INPUT { background-color: transparent; border: 1px solid #999; }
    .contact_login INPUT[type=password] { font-size: 1.8em; text-align: center; text-transform: uppercase; padding: .5em .75em; margin-bottom: 1.5em; width: 16em; color: #999; }
    .contact_login INPUT[type=text]:focus { color: #000; }
    .contact_login INPUT[type=submit] { border: 0; background: transparent; color: #000; margin-bottom: .9em; }
      .contact_login INPUT[type=submit]:hover { color: #ccc; }

.modal .contact_login { border-top: none; }

/* Page - Designer
 * ============================================================================================== */

#designer { padding-top: 23px; }
  #designer #info { width: 220px; float: right; font-size: 1.1em; }
    #designer #info > P { margin-top: 0; margin-bottom: 2em; font-size: 1.2em; }
    #designer #info.sticky { position: fixed; background-color: #fff; }
      #designer #info.sticky.top { top: 23px; }

  /* 3-columns mosaic */
  #designer .mosaic { width: 720px; }
    #designer .mosaic LI { margin-right: 20px; }

  #designer .vignette SPAN { font-weight: bold; text-transform: uppercase; /*padding: .5em 1em;*/ }

  #designer NAV { border-bottom: 1px solid #999; margin-bottom: 2.5em; font-size: 1.1em; }
    #designer NAV UL { margin: 0; padding: 0; }
    #designer NAV LI:hover, #designer NAV LI.current { background: no-repeat right center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAYAAADjXQYbAAAAQklEQVQY02P4z8DAgAPr4pQA4lfYJAxAEv9BTFwS6JIoEsiSIIm3yBIwSawSMEljfJJ4jcWpgGivEAwEFAUM+AIeAGMrjSIE55ViAAAAAElFTkSuQmCC); }
    #designer NAV A { padding: .5em 0; width: 220px; display: block; text-transform: uppercase; border-top: 1px solid #999; color: #999; }
      #designer NAV A:hover, #designer NAV LI.current A { color: red; }

/* En-tête statique.
 * ============================================================================================== */

/*#sticky_header { display: none; position: fixed; top: 0; z-index: 1000; width: 940px; background-color: #fff; }
  #sticky_header H1 { display: none; }
  #sticky_header NAV, #sticky_header UL { border: none; float: left; }
    #sticky_header NAV LI { width: auto !important; font-style: initial; }*/

/* Pagination.
 * ============================================================================================== */

.pager { width: 700px; text-align: center; text-transform: uppercase; }

.patterns { height: 520px; }
#nav_views { width: 700px; padding-bottom: 20px; text-align: center; text-transform: uppercase; }

/* Modales.
 * ============================================================================================== */

/* Old stuff */
/*.modal { display: none; position: absolute; left: 50%; top: 50%; z-index: 9999; color: #fff; }*/
/*.modal { width: 50%; height: 50%; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }*/
/* 79% MODAL .modal { display: none; z-index: 9999; width: 750px; margin: 0 auto auto auto; } */

/* Absolutely centered */
/* 
.centered-container { position: relative; }
.centered { display: table; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
*/

/* Modal */
/* FIXME: position sur BODY, Opera ! */
/*
body { position: relative; }
  */
.modal { display: table; margin: auto; height: auto; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 9999; }

.modal { width: 940px; }
  .modal, .modal A, .modal INPUT, .modal TEXTAREA, .modal .grey { color: #fff !important; }
    .modal A.close { position: absolute; top: -12.5px; right: -12.5px; display: block; width: 30px; height: 30px; text-indent: -9999px; background: url(img/close.png) no-repeat 0 0; }

/*.modal-spinner { display: none; width: 64px; height: 64px; position: fixed; top: 50%; left: 50%; margin-right: -32px; margin-top: -32px; background: url(img/spinner.gif) #111 no-repeat center center; border-radius: 8px; }*/
