<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!--<add key="ClientValidationEnabled" value="true" />-->
  <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->

  <!--<add key="MvcMailer.BaseURL" value="" />-->

  <add key="chiffon:CssVersion" value="0.0.0" />
  <add key="chiffon:DebugCss" value="false" />
  <add key="chiffon:DebugJs" value="false" />
  <add key="chiffon:EnableClientCache" value="true" />
  <add key="chiffon:EnableServerCache" value="true" />
  <add key="chiffon:JsVersion" value="0.0.0" />
  <add key="chiffon:LogProfile" value="Development" />
  <add key="chiffon:LogMinimumLevel" value="Debug" />
  <add key="chiffon:PatternDirectory" value="J:\home\github\ChiffonWebSite\intern\patterns" />
</appSettings>
