<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <!--<add key="ClientValidationEnabled" value="true" />-->
  <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
  
  <!--<add key="MvcMailer.BaseURL" value="" />-->
  
  <add key="chiffon.debugCss" value="true" />
  <add key="chiffon.debugJs" value="true" />
  <add key="chiffon.enableCaching" value="true" />
  <add key="chiffon.googleAnalytics" value="" />
  <add key="chiffon.logProfile" value="Development" />
  <add key="chiffon.logMinimumLevel" value="Debug" />
  <add key="chiffon.passThroughToken" value="uo7342xc8oBa6ZJ8tt0RNP6eFyopQqxoZ6uRlmZ6" />
  <add key="chiffon.patternDirectory" value="J:\home\github\ChiffonWebSite\_patterns" />
</appSettings>
