@using Chiffon.Entities

@model DesignerViewModel

@Html.Partial(ViewName.Shared.DesignerMenu)
<div id=designer>
 @Html.Partial(ViewName.Shared.DesignerInfo)
 <ul class="mosaic patterns">
  @foreach (var pattern in Model.Patterns) {
   <li>
    <img src="@Url.PatternContent(pattern.DesignerKey, pattern.Reference)" class=pattern alt="@pattern.Description" /></li>
  }
 </ul>
</div>
