@Html.Partial("_MemberMenu")
<div id=description>
 <p>Petroleum Blue est un studio de design textile créé en 2012 par Christine Légeret.</p>
 <p>
  Design épuré, empreint de fifties, mais pas que..., le design textile de Petroleum Blue est une machine
  à remonter le temps.
 </p>
 <nav id=categories>
  <ul>
   <li><a href="/christine-legeret">All (50)</a></li>
   <li><a href="/christine-legeret/categories/floral">Floral (10)</a></li>
   <li><a href="/christine-legeret/categories/ornemental">Ornemental (10)</a></li>
   <li><a href="/christine-legeret/categories/abstrait">Abstrait (5)</a></li>
   <li><a href="/christine-legeret/categories/tribal">Tribal (3)</a></li>
   <li><a href="/christine-legeret/categories/fifties">Fifties (4)</a></li>
   <li><a href="/christine-legeret/categories/kawaï">Kawaï (2)</a></li>
  </ul>
 </nav>
 <p><a href="#">petroleumblue@gmail.com</a> </p>
</div>
<ul class="mosaic clr">
 <li><a href="#">
  <img src="media/christine-legeret/motif1.jpg" alt="" /></a></li>
 <li><a href="#">
  <img src="media/christine-legeret/motif2.jpg" alt="" /></a></li>
 <li><a href="#">
  <img src="media/christine-legeret/motif3.jpg" alt="" /></a></li>
 <li><a href="#">
  <img src="media/christine-legeret/motif4.jpg" alt="" /></a></li>
</ul>
