@using Narvalo

@model IEnumerable<KeyValuePair<Chiffon.Infrastructure.ChiffonLanguage, Uri>>

@{
 var alternateUrl = @Model.First().Value.ToProtocolLessString();
}

<ul class="li_inline float_right">
 <li>&nbsp;</li>
 @*<li><a class=loose href="@alternateUrl" rel=alternate hreflang=en>EN</a></li>
 <li class=sep><span>/</span></li>
 <li><span>FR</span></li>*@
</ul>
