@using Narvalo

@model IEnumerable<KeyValuePair<Chiffon.Common.ChiffonLanguage, Uri>>

@{
 var alternateUrl = @Model.First().Value.ToProtocolRelativeString();
}

<ul class="li_inline float_right">
 <li><span>EN</span></li>
 <li class=sep><span>/</span></li>
 <li><a class=loose href="@alternateUrl" rel=alternate hreflang=fr>FR</a></li>
</ul>
