<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project=".\Chiffon.helpers.targets" />

  <PropertyGroup>
    <SingleAssemblyName>Chiffon.WebSite.AspNet</SingleAssemblyName>
  </PropertyGroup>

  <PropertyGroup>
    <ExcludeFoldersFromDeployment>
      assets
    </ExcludeFoldersFromDeployment>
  </PropertyGroup>

  <ItemGroup>
    <ExcludeFromPackageFiles
      Include="$(MSBuildProjectDirectory)\Properties\Chiffon.snk;
        $(MSBuildProjectDirectory)\packages.config">
      <FromTarget>pubxml</FromTarget>
    </ExcludeFromPackageFiles>
  </ItemGroup>

  <Target Name="_AfterPipelineDeployPhase" AfterTargets="PipelineDeployPhase"
          DependsOnTargets="$(AfterPipelineDeployPhaseDependsOn)" />

  <PropertyGroup>
    <AfterPipelineDeployPhaseDependsOn>
      TransformConfig
    </AfterPipelineDeployPhaseDependsOn>
  </PropertyGroup>

  <!-- Transforme Web.config pour la plate-forme demandée -->
  <Target Name="TransformConfig">
    <TransformXml Source="$(PublishUrl)Web.config"
                  Destination="$(PublishUrl)Web.config"
                  Transform="$(_TransformsDir)Chiffon.WebSite.$(PackageTarget).config" />
  </Target>
  
  <!-- 
  http://stackoverflow.com/questions/8344373/encrypting-web-config-using-aspnet-regiis
  <Target Name="EncryptConfig" DependsOnTargets="GetAspNetRegIis">
    <PropertyGroup>
      <_WebApplicationDirectory>$(PublishUrl.TrimEnd('\'))</_WebApplicationDirectory>
    </PropertyGroup>

    <Exec Command="$(AspNetRegIis) -pef &quot;connectionStrings&quot; $(_WebApplicationDirectory)" />
  </Target>
  
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Wd38mHZUv7k9tewIuQyDsAaiV3QZicq9M3Jo/sa2s45h0BNF93k3hZrdwLi6CA7Fw2XfeaTyswyQ6akp4TBIQ3h1dQT9xrw/YuLAk3f9h+sLNsQ/KsgYcOwZn6B3L1AbXo9Rb8Bbam3i3ELu3+SuvHBiHPKi1255bAcv5wFia0E=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>3DrV4E9yZscoXaHkpmLJTudc3oLM3nx/yC7QBc4WF1ezWXK5jwXp/dykZzpFik7dv4xuAHowiijwx51zBRKyKXqLaDkmSWEiRzSlgGKdJl0JaO+YPP+bK9jdte9ZKt1dBPawJRVG6doytkN5ONIxRG2TwDSRVed3sDAJ22Ub4YlGJ7OXp4T+J2XZOW1/CPrDeHEXI5/34aApAtWxfvVgvhJjpt91EQCp21ftJiIbUooGTDYKd/ZbKOQlspmWZj/YP/gcGFPLcyocGW2HdY7v7jH+HWqRIYoVc40GGNjV8PGHOpWATGb4snW2182akNVtnttIkWxUbUpnYE1zPMCIvA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  -->

  <!--
  <ItemGroup>
    <ConfigFiles Include="$(ConfigDir)*.config"></ConfigFiles>
  </ItemGroup>

  <Target Name="_CopyConfigs" AfterTargets="PipelineDeployPhase">
    <Copy SourceFiles="@(ConfigFiles)"
          DestinationFiles="@(ConfigFiles->'$(PublishUrl)config\%(Filename)%(Extension)')" />
  </Target>
  -->
</Project>