// TODO:
// - no margin for paragraph in sidebar
// - http://www.phpied.com/mhtml-when-you-need-data-uris-in-ie7-and-under/

@import "chiffon.common.less";

/* =========================================================================
 * Valeurs par défaut (H5BP v4.3.0)
 * ========================================================================= */

AUDIO, CANVAS, IMG, VIDEO {
  vertical-align: middle;
}

FIELDSET {
  padding: 0;
  margin: 0;
  border: 0;
}

TEXTAREA {
  resize: vertical;
}

/* =========================================================================
 * Utilitaires
 * ========================================================================= */

/* Listes */

UL {
  // Liste horizontale.
  // NB: À coupler avec "clearfix".
  &.inline LI {
    float: left;
  }
  // Liste centrée. Dépend de la classe ".center" qui centre le texte.
  &.center {
    text-align: center;

    LI {
      display: inline-block;
    }
  }
}

/* Menus */

NAV {
  UL, OL {
    A {
      // Dans un menu, on donne plus d'impact physique aux liens.
      display: inline-block;
    }
  }
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.float_clear {
  clear: both;
}

.block {
  display: block;
}

.hide {
  display: none;
}

/* =========================================================================
 * Valeurs par défaut
 * ========================================================================= */

// XXX: BODY, INPUT ?
HTML {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: @font_size;
  line-height: 1.4;
}

/*HTML, BUTTON, INPUT, SELECT, TEXTAREA {
  color: @text_color;
}*/

P {
  color: @grey;
}

UL, OL {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Liens */

A {
  color: @black;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    color: @grey;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
  }

  // FIXME
  &.reverse {
    color: @darkgrey;

    &:hover {
      color: @black;
    }
  }
}

/* =========================================================================
 * Utilitaires
 * ========================================================================= */

.no_margin {
  margin: 0;
}

.underline {
  text-decoration: underline;
}

/* Fontes */

.serif {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-style: italic;
}

.serif_medium {
  font-size: @font_size_medium;
  line-height: 1.5em;
}

.serif_large {
  font-size: @font_size_large;
  line-height: 1.5em;
}

.sansserif {
  font-family: sans-serif;
}

.highlight:focus {
  box-shadow: 0 0 12px rgba(204, 204, 204, .37);
}

/* Overlay */

// TODO: width & height ne sont pas être nécessaires ?
//.overlay { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: @black; opacity: .8; z-index: 100; }
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  margin: 0;
  background-color: @black;
  opacity: .8;
}

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* En-tête barrée */

.strike {
  background: no-repeat center center data-uri("img/strike.png");
  border-top: solid 2px @darkgrey;
  border-bottom: solid 2px @darkgrey;
}

/* =========================================================================
 * Motifs
 * ========================================================================= */

// Motif en grand format.
.pattern {
  position: relative;
  display: block;
  width: @pattern_width;
  height: @pattern_heigth;
  // Couleur par défaut visible quand l'image n'existe pas
  //.pattern .watermark { background-color: @missing_img_background; }
  .watermark SPAN {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: @white;
  }
}

// Aperçu d'un motif.
.vignette {
  position: relative;
  display: block;
  width: @preview_width;
  height: @preview_height;
  // Couleur par défaut quand l'image n'est pas chargée.
  background-color: @lightgrey;
  transition: all .2s ease-in-out;

  .overlay {
    position: absolute;
    z-index: 0;
    opacity: .7;
  }

  IMG {
    width: @preview_width;
    height: @preview_height;
  }

  SPAN {
    position: absolute;
    right: 1.2em;
    bottom: .9em;
    display: none;
    font-weight: bold;
    color: @white;
  }

  &:hover SPAN, &:hover .overlay {
    display: block;
  }
}

.cl:hover .watermark {
  background: data-uri("img/watermarks/cl.png");
}

.em:hover .watermark {
  background: data-uri("img/watermarks/em.png");
}

.lr:hover .watermark {
  background: data-uri("img/watermarks/lr.png");
}

.vd:hover .watermark {
  background: data-uri("img/watermarks/vd.png");
}

/* Mosaïque */

.mosaic {
  width: @mosaic_4_width;
  overflow: hidden;

  LI {
    float: left;
    margin-right: @grid_inter_width;
    margin-bottom: @grid_inter_width;
  }
}

.patterns {
  height: @pattern_heigth;
}

//.mosaic_100 {
//  width: @mosaic_4_width;
//}

.mosaic_75 {
  width: @mosaic_3_width;
}

/* Disposition par défaut */

BODY {
  // On centre le corps de la page.
  width: @grid_4_width;
  margin: 0 auto;
}

HEADER {
  padding-top: 1.9em;
}

FOOTER {
  margin-bottom: 2em;
  text-transform: uppercase;
  border-top: solid 2px @grey;
  font-variant: small-caps;

  P {
    margin: 2em 0 0;
    color: @darkgrey;
  }
}

/* Titre principal */

H1 {
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  EM, STRONG {
    font-style: normal;
    font-weight: bold;
  }
}

/* =========================================================================
 * Menus
 * ========================================================================= */

/* Menu des langues */

NAV.lang {
  border-bottom: solid 2px @black;

  UL {
    margin-bottom: 6px;
    font-weight: bold;
  }

  LI {
    padding-left: .5em;
  }
}

/* Menu principal */

NAV.main {
  .right {
    position: absolute;
    right: 0;
  }

  UL {
    // On utilise une position relative pour que l'élément ".right" se positionne
    // correctement à droite de la liste.
    position: relative;
    text-transform: uppercase;
  }

  LI {
    margin: 1.2em 0;
  }

  A {
    padding: 1em;
  }
}

/* Menu des designers */

NAV.designers {
  .last {
    margin-right: 0;
  }

  UL {
    font-size: 1.8em;
    font-style: italic;
  }

  LI {
    width: @grid_1_width;
    // XXX: font-size
    margin: 11px @grid_inter_width 11px 0;
    text-align: center;
  }

  A {
    padding: .5em;
    background: @white;
  }
}

/* Mise en valeur de la page courante dans les menus */

NAV {
  &.index .index,
  &.about .about,
  &.contact .contact,
  &.newsletter .newsletter,
  &.cl .cl,
  &.em .em,
  &.vd .vd,
  &.lr .lr {
    color: @current_link_color;
  }
}

/* Statut ajax */

//#ajax_status {
//  background-color: #fef087;
//  // border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0 5px 15px @grey;
//  display: none;
//  font-size: 1.3em;
//  font-weight: 700;
//  padding: .3em 1em;
//  position: fixed;
//  right: 45%;
//  top: 0;
//  z-index: 1000;
//
//  &.ajax_error {
//    background-color: @error_color;
//    color: white;
//  }
//}

/* Erreurs */

.error_container {
  display: none;
  color: @error_color;

  .error {
    border: none;
  }
}

FORM INPUT.error {
  border: 1px solid @error_color;
}

//INPUT.valid { border: 1px solid green !important; }

/* =========================================================================
 * Page d'accueil
 * ========================================================================= */

.home_index .mosaic {
  margin: 2.3em 0 .3em 0;
}

/* =========================================================================
 * Page à propos
 * ========================================================================= */

.home_about {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* =========================================================================
 * Page de contact
 * ========================================================================= */

.home_contact {
  margin-bottom: 5em;

  .img {
    margin-bottom: 1.2em;
  }

  .email {
    font-style: italic;
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;

    A {
      padding: 2em 0;
    }
  }

  .web {
    A {
      padding: 1em 0;
    }
  }

  .designers {
    LI {
      width: @grid_1_width;
      margin-right: @grid_inter_width;

      &:last-child {
        margin-right: 0;
      }

      LI {
        font-size: 1.3em;

        A {
          // On veut donner plus d'impact au lien.
          display: inline-block;
          width: 100%;
        }
      }
    }
  }

  H2 {
    width: 100%;
    padding: 1.1em 0;
    font-size: 1.8em;
    font-weight: normal;
    border-color: @grey;

    A {
      padding: .5em;
      background: @white;
    }
  }

  P {
    padding: .5em 0 1em 0;
    margin: 0;
    font-weight: normal;
    color: @grey;
    border-top: 2px solid @darkgrey;

    A {
      font-size: .7em;
    }
  }
}

/* =========================================================================
 * Page d'enregistrement
 * ========================================================================= */

.account_register {
  border-top: solid 2px @darkgrey;

  .account_register INPUT[name="EmailAddress"] {
    text-transform: none;
  }

  .public_key {
    padding: .1em .5em;
    color: @black;
    border: 1px @black solid;
  }

  .submit {
    margin-top: 2em;
    text-align: right;
  }

  .validation-summary-errors {
    margin-bottom: 2em;
    font-size: 1.3em;
    color: @error_color;
    text-align: center;
  }

  FORM {
    width: 750px /*79%*/;
    margin: 0 auto;
    color: @darkgrey;

    P {
      margin-top: 0;
    }

    .left {
      margin-top: 0;
    }
  }

  LABEL {
    padding-bottom: .5em;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  INPUT {
    width: 218px;
    //height: 24px;
    padding: .3em .5em;
    font-size: 1.4em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid @darkgrey;

    &[type=submit] {
      width: 160px;
      height: 32px;
      color: @darkgrey;

      &:hover {
        color: @black;
        border-color: @black;
      }
    }
  }

  TEXTAREA {
    width: 434px;
    height: 229px;
    padding: .2em;
    font-size: 1.4em;
    font-style: italic;
    background-color: transparent;
    border: 1px solid @darkgrey;
  }

  .error_container {
    text-align: center;
  }
}

/* =========================================================================
 * Page de connexion
 * ========================================================================= */

.account_login {
  border-top: solid 2px @darkgrey;

  FORM {
    margin-bottom: 7em;

    A {
      text-transform: none;
    }
  }

  INPUT {
    background-color: transparent;
    border: 1px solid @darkgrey;

    &[type=password] {
      width: 16em;
      padding: .5em .75em;
      margin-bottom: 1.5em;
      font-size: 1.8em;
      color: @darkgrey;
      text-align: center;
      text-transform: uppercase;
    }

    &[type=submit] {
      margin-bottom: .9em;
      color: @black;
      background: transparent;
      border: 0;

      &:hover {
        color: @grey;
      }
    }

    &[type=text]:focus {
      color: @black;
    }
  }

  .hello {
    margin-bottom: 2em;
  }
}

/* =========================================================================
 * Pages designer
 * ========================================================================= */

.designer {
  padding-top: 2.3em;

  .mosaic {
    // Mosaïque à trois colonnes.
    width: (@grid_3_width + @grid_inter_width);

    LI {
      margin-right: @grid_inter_width;
    }
  }

  NAV {
    margin-bottom: 2.5em;
    font-size: 1.1em;
    border-bottom: 1px solid @darkgrey;

    LI:hover, LI.current {
      background: no-repeat right center data-uri("img/arrow.png");

      A {
        color: @current_link_color;
      }
    }

    A {
      display: block;
      width: @grid_1_width;
      padding: .5em 0;
      color: @darkgrey;
      text-transform: uppercase;
      border-top: 1px solid @darkgrey;
    }
  }

  .info {
    float: right;
    width: @grid_1_width;
    font-size: 1.1em;
    color: @darkgrey;

    > P {
      margin-top: 0;
      margin-bottom: 2em;
      font-size: 1.2em;
    }

    P A {
      color: @darkgrey;
    }
  }

  .info_sticky {
    position: fixed;
    background-color: @white;
  }

  .info_top {
    top: 2.3em;
  }
}

/* En-tête statique */

//#sticky_header { display: none; position: fixed; top: 0; z-index: 1000; width: @grid_4_width; background-color: @white; }
//  #sticky_header H1 { display: none; }
//  #sticky_header NAV, #sticky_header UL { border: none; float: left; }
//    #sticky_header NAV LI { width: auto !important; font-style: initial; }*/

/* Pagination */

.pager {
  width: @grid_3_width;
  text-align: center;
  text-transform: uppercase;
}

.nav_views {
  width: @grid_3_width;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

// Old stuff
//.modal { display: none; position: absolute; left: 50%; top: 50%; z-index: 9999; color: @white; }
//.modal { width: 50%; height: 50%; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
// 79% MODAL .modal { display: none; z-index: 9999; width: 750px; margin: 0 auto auto auto; }

// Absolutely centered

//.centered-container { position: relative; }
//.centered { display: table; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

/* =========================================================================
 * Modales
 * ========================================================================= */

// FIXME: position sur BODY, Opera !
//body { position: relative; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: table;
  width: @grid_4_width;
  height: auto;
  margin: auto;

  &, P, A, LABEL, INPUT, TEXTAREA {
    color: @white;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: data-uri("img/close.png") no-repeat 0 0;
  }

  .account_login {
    border-top: none;

    INPUT {
      color: @white;
    }
  }

  .account_register {
    border-top: none;

    INPUT {
      color: @white;

      &[type=submit]:hover {
        color: @white;
        border-color: @white;
      }
    }
  }
}
