@import "chiffon.common.less";

// ============================================================================
// Règles de base
// ============================================================================

// H5BP v4.3.0 ----------------------------------------------------------------

AUDIO, CANVAS, IMG, VIDEO {
  vertical-align: middle;
}

FIELDSET {
  padding: 0;
  margin: 0;
  border: 0;
}

TEXTAREA {
  resize: vertical;
}

// Règles spécifiques au projet -----------------------------------------------

// XXX: BODY, INPUT ?
HTML {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: @font_size;
  line-height: 1.4;
}

//HTML, BUTTON, INPUT, SELECT, TEXTAREA {
//  color: @text_color;
//}

P {
  color: @grey;
}

UL, OL {
  padding: 0;
  margin: 0;
  list-style: none;
}

NAV {
  UL, OL {
    A {
      // Dans un menu, on donne plus d'impact physique aux liens.
      display: inline-block;
    }
  }
}

A {
  color: @black;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    color: @grey;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
  }
}

// ============================================================================
// Disposition globale
// ============================================================================

BODY {
  // On centre le corps de la page.
  width: @grid_4_width;
  margin: 0 auto;
}

HEADER {
  padding-top: 1.9em;
}

H1 {
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  EM, STRONG {
    font-style: normal;
    font-weight: bold;
  }
}

FOOTER {
  margin-bottom: 2em;
  text-transform: uppercase;
  border-top: solid 2px @grey;
  font-variant: small-caps;

  P {
    margin: 2em 0 0;
    color: @darkgrey;
  }
}

// ============================================================================
// Utilitaires
// ============================================================================

// Listes ---------------------------------------------------------------------

// Liste horizontale

// WARNING: À coupler avec "clearfix".
// NB: Utiliser "display: inline-block" semblerait plus naturel mais dans ce cas
// les espaces blancs sont significatifs et, suivant le contenu HTML,
// on peut avoir des espaces entre les blocs. On peut contourner ce problème en
// minifiant le HTML (ie </li><li>) ou en supprimant la balise fermante mais,
// dans les deux cas, la solution est fragile. On préfère donc utiliser
// "float: left". Il ne faut alors pas oublier de rajouter un clearfix.
.li_inline {
  > LI {
    float: left;
  }
}

// Liste centrée

.li_center {
  text-align: center;

  > LI {
    display: inline-block;
  }
}

.li_inline2center() {
  .li_inline {
    .li_center;

    > LI {
      float: none;
    }
  }
}

// Textes ---------------------------------------------------------------------

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

// FIXME: À supprimer.
.text_underline {
  text-decoration: underline;
}

// Blocs ----------------------------------------------------------------------

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.float_clear {
  clear: both;
}

.block {
  display: block;
}

.hide {
  display: none;
}

// Fontes ---------------------------------------------------------------------

.sansserif {
  font-family: sans-serif;
}

// ============================================================================
// Modules
// ============================================================================

// Fontes ---------------------------------------------------------------------

.serif {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-style: italic;
}

.serif_medium {
  font-size: @font_size_medium;
  line-height: 1.5em;
}

.serif_large {
  font-size: @font_size_large;
  line-height: 1.5em;
}

// Modales --------------------------------------------------------------------

// Inspiré de http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
// FIXME: position sur BODY, Opera !
//body { position: relative; }
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @modal_zindex;
  display: table;
  width: @grid_4_width;
  height: auto;
  margin: auto;

  &, P, A, LABEL, INPUT, TEXTAREA {
    color: @white;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: data-uri("img/close.png") no-repeat 0 0;
  }
}

// Overlay --------------------------------------------------------------------

// FIXME: width & height sont-ils nécessaires ?
//.overlay { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: @black; opacity: .8; z-index: 100; }
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @overlay_zindex;
  display: none;
  margin: 0;
  background-color: @black;
  opacity: .8;
}

// Watermark ------------------------------------------------------------------

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Bloc avec bordures en haut et en bas, plus une ligne au milieu -------------

.fx_strike {
  background: no-repeat center center data-uri("img/strike.png");
  border-top: solid 2px @darkgrey;
  border-bottom: solid 2px @darkgrey;
}

// Bloc avec une bordure en haut ----------------------------------------------

.fx_topborder {
  border-top: 2px solid @darkgrey;
}

.modal .fx_topborder {
  border-top: none;
}

// Ligne double courte --------------------------------------------------------

.fx_doubleline {
  height: 1em;
  background: data-uri("img/doubleline_grey.png") center no-repeat;
}

.modal .fx_doubleline {
  background-image: data-uri("img/doubleline_white.png");
}

// Checkbox -------------------------------------------------------------------

INPUT[type=checkbox] {
  // http://stackoverflow.com/questions/4148499/how-to-style-checkbox-using-css
  display: none;

  + LABEL {
    cursor: pointer;

    SPAN {
      display: inline-block;
      width: 11px;
      height: 11px;
      padding-right: 1em;
      cursor: pointer;
      background: data-uri("img/unchecked.png") no-repeat;
    }
  }

  &:checked + LABEL SPAN {
    background: data-uri("img/checked.png") no-repeat;
  }
}

A {
  // FIXME: À supprimer.
  &.reverse {
    color: @darkgrey;

    &:hover {
      color: @black;
    }
  }
}

//.highlight:focus {
//  box-shadow: 0 0 12px rgba(204, 204, 204, .37);
//}

// ============================================================================
// Motifs
// ============================================================================

// Aperçu d'un motif.
.vignette {
  // On utilise une position relative pour le positionnement du watermark.
  position: relative;
  display: block;
  width: @preview_width;
  height: @preview_height;
  transition: all .2s ease-in-out;

  .overlay {
    position: absolute;
    z-index: 0;
    opacity: .7;
  }

  IMG {
    width: @preview_width;
    height: @preview_height;
    // Couleur par défaut quand l'image n'est pas chargée.
    background-color: @missing_img_background;
  }

  SPAN {
    position: absolute;
    right: 1.2em;
    bottom: .9em;
    display: none;
    font-weight: bold;
    color: @white;
  }

  &:hover SPAN, &:hover .overlay {
    display: block;
  }
}

.cl:hover .watermark {
  background: data-uri("img/watermarks/cl.png");
}

.em:hover .watermark {
  background: data-uri("img/watermarks/em.png");
}

.lr:hover .watermark {
  background: data-uri("img/watermarks/lr.png");
}

.vd:hover .watermark {
  background: data-uri("img/watermarks/vd.png");
}

// Motifs en grand format.

.pattern {
  width: @grid_3_width;
  height: @pattern_heigth;
  overflow: hidden;

  LI {
    // On utilise une position relative pour le positionnement du watermark.
    position: relative;

    .watermark SPAN {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: .5em 1em;
      font-weight: bold;
      text-transform: uppercase;
      background-color: @white;
    }
  }

  IMG {
    width: @pattern_width;
    height: @pattern_heigth;
    background-color: @missing_img_background;
  }
}

.pattern_nav {
  width: @grid_3_width;
  padding-bottom: 2em;
  color: @black;
  text-align: center;
  text-transform: uppercase;

  A {
    text-decoration: underline;
  }
}

// Mosaïque d'aperçus

.mosaic {
  width: @mosaic_4_width;
  overflow: hidden;
  .li_inline;

  LI {
    margin-right: @grid_inter_width;
    margin-bottom: @grid_inter_width;
  }
}

// Pagination (dans la page designer)

.pager {
  width: @grid_3_width;
  margin-top: 0;
  margin-bottom: 2em;
  color: @black;
  text-align: center;
  text-transform: uppercase;

  A {
    text-decoration: underline;
  }
}

// ============================================================================
// Menus
// ============================================================================

// Menu des langues -----------------------------------------------------------

.nav_lang {
  border-bottom: solid 2px @black;

  UL {
    margin-bottom: 6px;
    font-weight: bold;
  }

  LI {
    padding-left: .5em;
  }
}

// Menu principal -------------------------------------------------------------

.nav_main {
  // On utilise une position relative pour que l'élément ".account" se place
  // correctement à droite de la liste.
  position: relative;

  .account {
    position: absolute;
    top: 0;
    right: 0;
  }

  UL {
    text-transform: uppercase;
  }

  LI {
    margin: 1.2em 0;
  }

  A {
    padding: 1em;
  }
}

// Menu des designers ---------------------------------------------------------

.nav_designers {
  UL {
    font-size: 1.8em;
    font-style: italic;
  }

  LI {
    width: @grid_1_width;
    // XXX: font-size
    margin: 11px @grid_inter_width 11px 0;
    text-align: center;


    &:last-child {
      margin-right: 0;
    }
  }

  A {
    padding: .5em;
    background: @white;
  }
}

// Mise en avant de la page courante dans les menus ---------------------------

NAV {
  &.index .index,
  &.about .about,
  &.contact .contact,
  &.newsletter .newsletter,
  &.cl .cl,
  &.em .em,
  &.vd .vd,
  &.lr .lr {
    color: @current_link_color;
  }
}

// Statut ajax ----------------------------------------------------------------

//#ajax_status {
//  background-color: #fef087;
//  // border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0 5px 15px @grey;
//  display: none;
//  font-size: 1.3em;
//  font-weight: 700;
//  padding: .3em 1em;
//  position: fixed;
//  right: 45%;
//  top: 0;
//  z-index: 1000;
//
//  &.ajax_error {
//    background-color: @error_color;
//    color: white;
//  }
//}

// Erreurs --------------------------------------------------------------------

.error_container {
  display: none;
  color: @error_color;

  .error {
    border: none;
  }
}

FORM INPUT.error {
  border: 1px solid @error_color;
}

//INPUT.valid { border: 1px solid green !important; }

// ============================================================================
// Page d'accueil
// ============================================================================

.home_index .mosaic {
  margin: 2.3em 0 .3em 0;
}

// ============================================================================
// Page à propos
// ============================================================================

.home_about {
  margin-top: 1em;
  margin-bottom: 2em;

  .presentation P {
    margin: 0 auto;
  }

  .links {
    text-align: center;

    A {
      text-decoration: underline;
    }
  }
}

// ============================================================================
// Page de contact
// ============================================================================

.home_contact {
  margin-bottom: 5em;

  .cl:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/cl_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/cl_en.png);
    }
  }

  .em:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/em_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/em_en.png);
    }
  }

  .lr:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/lr_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/lr_en.png);
    }
  }

  .vd:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/vd_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/vd_en.png);
    }
  }

  .avatar {
    margin-bottom: 1.2em;
  }

  .email {
    font-style: italic;
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;

    A {
      padding: 2em 0;
    }
  }

  .website {
    A {
      padding: 1em 0;
    }
  }

  .li_designers {
    > LI {
      width: @grid_1_width;
      margin-right: @grid_inter_width;
      vertical-align: text-top;

      &:last-child {
        margin-right: 0;
      }
    }

    UL LI {
      font-size: 1.3em;

      A {
        // On veut donner plus d'impact au lien.
        display: inline-block;
        width: 100%;
      }
    }
  }

  H2 {
    width: 100%;
    padding: 1.1em 0;
    font-size: 1.8em;
    font-weight: normal;
    border-color: @grey;

    A {
      padding: .5em;
      background: @white;
    }
  }

  P {
    margin: .5em 0 1em 0;

    A {
      font-size: .7em;
    }
  }
}

// ============================================================================
// Page d'enregistrement
// ============================================================================

.account_register {
  .validation-summary-errors {
    font-size: @font_size_medium;
    line-height: 1.5em;
    color: @error_color;
    text-align: center;
  }

  P.error_container {
    margin: inherit;
  }

  P SPAN {
    color: @darkgrey;
  }

  FORM {
    font-style: normal;
    color: @darkgrey;

    P {
      margin: 2em 0;
    }

    LABEL:first-child {
      display: none;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  //INPUT[type=text], INPUT[type=email], INPUT[type=submit] {
  INPUT {
    width: 312px;
    height: 3.1em;
    padding: .5em 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid @darkgrey;

    &:hover {
      color: @darkgrey;
      border-color: @grey;
    }

    &[type=submit] {
      width: 334px;
      padding: 0;
      font-size: 1.6em;
      color: @darkgrey;
      /*&:hover {
        color: @black;
        border-color: @grey;
      }*/
    }
  }

  LABEL.newsletter {
    font-size: 1.2em;
    font-weight: normal;
    text-transform: none;
  }

  .error_container {
    text-align: center;
  }
}

.modal .account_register {
  FORM P {
    margin: 2em auto;
  }

  P, LABEL {
    margin: .5em auto;
    color: @grey;
  }

    P SPAN {
      color: @white;
    }

  INPUT {
    color: @white;

    &[type=submit]:hover {
      color: @white;
      border-color: @white;
    }
  }
}

// ============================================================================
// Page de connexion
// ============================================================================

.account_login {
  FORM {
    margin-bottom: 7em;

    A {
      text-transform: none;
    }
  }

  INPUT {
    background-color: transparent;
    border: 1px solid @darkgrey;

    &[type=password] {
      width: 16em;
      padding: .5em .75em;
      margin-bottom: 1.5em;
      font-size: 1.8em;
      color: @darkgrey;
      text-align: center;
      text-transform: uppercase;
    }

    &[type=submit] {
      margin-bottom: .9em;
      color: @black;
      background: transparent;
      border: 0;

      &:hover {
        color: @grey;
      }
    }

    &[type=text]:focus {
      color: @black;
    }
  }

  .hello {
    margin-bottom: 2em;
  }
}

.modal .account_login {
  INPUT {
    color: @white;
  }
}

// ============================================================================
// Pages designer
// ============================================================================

.designer {
  padding-top: 2.3em;

  .mosaic {
    // Mosaïque à trois colonnes.
    width: @mosaic_3_width;
  }

  .vignette:hover .watermark {
    &:lang(fr) {
      background: data-uri("img/watermarks/seemore_fr.png");
    }

    &:lang(en) {
      background: data-uri("img/watermarks/seemore_en.png");
    }
  }

  NAV {
    margin-bottom: 2.5em;
    font-size: 1.2em;
    border-bottom: 1px solid @grey;

    LI:hover, LI.current {
      background: no-repeat right center data-uri("img/arrow.png");

      A {
        color: @current_link_color;
      }
    }

    A {
      display: block;
      width: @grid_1_width;
      padding: .5em 0;
      color: @darkgrey;
      text-transform: uppercase;
      border-top: 1px solid @grey;
    }
  }

  .info {
    float: right;
    width: @grid_1_width;

    P {
      margin-top: 0;
      margin-bottom: 2em;
      font-size: 1.3em;
      color: @darkgrey;

      A {
        color: @darkgrey;
      }
    }
  }

  .info_sticky {
    position: fixed;
    background-color: @white;
  }

  .info_top {
    top: 2.3em;
  }
}

// En-tête statique
//#sticky_header { display: none; position: fixed; top: 0; z-index: 1000; width: @grid_4_width; background-color: @white; }
//  #sticky_header H1 { display: none; }
//  #sticky_header NAV, #sticky_header UL { border: none; float: left; }
//    #sticky_header NAV LI { width: auto !important; font-style: initial; }

// Old stuff
//.modal { display: none; position: absolute; left: 50%; top: 50%; z-index: 9999; color: @white; }
//.modal { width: 50%; height: 50%; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
// 79% MODAL .modal { display: none; z-index: 9999; width: 750px; margin: 0 auto auto auto; }
// Absolutely centered
//.centered-container { position: relative; }
//.centered { display: table; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

// ============================================================================
// Règles pour un site web adaptatif
// ============================================================================

// NB: Utiliser le mot clé "only" dans les media-queries pour cacher les règles suivantes aux anciens navigateurs.
// WARNING: On peut utiliser des variables calculées dans les media-queries, mais "recess" n'aime pas cela.

.mobile_designer(@mosaic_width, @pager_width) {
  .info {
    float: none;
    width: auto;

    NAV {
      display: none;
    }

    P:first-child {
      margin-bottom: 1em;
    }
  }

  .mosaic {
    width: @mosaic_width;
  }

  .pager {
    width: @pager_width;
  }
}

// Règles communes.
// Largeur de l'écran < 4-colonnes.

@media only screen and (max-width: @grid_4_width) {
  H1 {
    // WARNING: Les sauts à la ligne deviennent importants !
    white-space: pre-line;
  }

  /*
    H1 EM:first-child, H1 STRONG {
      display: block;
    }
  */

  // Le menu designer devient centré et chaque entrée prend une largeur automatique.
  .nav_designers {
    .li_inline2center;

    LI {
      width: auto;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
  }
}

// Grille à 3 colonnes : largeur de l'écran < 4-colonnes et > 3-colonnes.

@min_3_width: (1px + @grid_3_width);

@media only screen and (min-width: @min_3_width) and (max-width: @grid_4_width) {
  BODY {
    width: @grid_3_width;
  }

  // Menu des designers
  .nav_designers {
    LI {
      margin: 11px;

      &:last-child {
        margin-right: 11px;
      }
    }
  }

  // Motifs.

  .mosaic {
    width: @mosaic_3_width;
  }

  // Page contact.

  .home_contact {
    .li_inline2center;

    .li_designers > LI {
      margin: 1.5em;
    }
  }

  // Pages designer.

  .designer {
    // On utilise une position relative pour le positionnement du bloc info.
    position: relative;

    .info_pattern {
      position: absolute;
      top: 580px;
      right: 0;
    }

    .mosaic {
      width: @mosaic_2_width;
    }

    .pager {
      width: @grid_2_width;
    }
  }
}

// Grille à 2 colonnes : largeur de l'écran < 3-colonnes et > 2-colonnes.

@min_2_width: (1px + @grid_2_width);

@media only screen and (min-width: @min_2_width) and (max-width: @grid_3_width) {
  BODY {
    width: @grid_2_width;
  }

  .serif_large {
    font-size: @font_size_medium;
    line-height: 1.5em;
  }

  // Menu principal.

  .nav_main {
    LI {
      margin: .6em 0;
    }
  }

  // Menu des designers.

  .nav_designers {
    &.fx_strike {
      background: none;
    }

    UL {
      font-size: 1.4em;
    }

    LI {
      margin: 11px 0;
    }
  }

  // Motifs.

  .pattern, .pattern_nav {
    width: @grid_2_width;
  }

  .mosaic {
    width: @mosaic_2_width;
  }

  // Page contact.

  .home_contact {
    .li_inline2center;

    .li_designers {
      width: @mosaic_2_width;

      > LI {
        margin: .8em;
      }
    }
  }

  // Pages designer.

  .designer {
    .mobile_designer(@mosaic_2_width, @grid_2_width);
  }
}

// Grille à 1 colonne : Largeur de l'écran < 2-colonnes.

@media only screen and (max-width: @grid_2_width) {
  BODY {
    width: @grid_1_width;
  }

  H1 {
    height: 57px;
    width: 57px;
    overflow: hidden;
    background-image: url(img/logo.png);
  }

  .serif_large, .serif_medium {
    font-size: 1.8em;
    line-height: 1.5em;
  }

  .serif_medium {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  // Menu principal.

  .nav_main {
    .account {
      position: static;
    }

    UL {
      padding: .6em 0;
    }

    LI {
      margin: 0;
    }
  }

  // Menu des designers.

  .nav_designers {
    &.fx_strike {
      background: none;
    }

    UL {
      font-size: 1.6em;
      padding: .5em 0;
    }

    LI {
      margin: 0;
    }
  }

  // Motifs.

  .pattern, .pattern_nav {
    width: @grid_1_width;
  }

  // Pour ce type d'écran particulier on force la hauteur.
  /*.pattern, .designer .watermark {
    height: (1.5 * @preview_width);
  }*/

  .mosaic {
    width: @mosaic_1_width;
  }

  // Page contact.

  .home_contact {
    .li_inline2center;

    .li_designers {
      width: @grid_1_width;

      > LI {
        margin: .8em 0;
      }
    }

    P A {
      font-size: .7em;
    }
  }

  // Pages designer.

  .designer {
    .mobile_designer(@mosaic_1_width, @grid_1_width);
  }
}
