
@import "chiffon.vars.less";

// ============================================================================
// Page à propos
// ============================================================================

.home_about {
  margin-bottom: 5em;

  .cl:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/cl_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/cl_en.png);
    }
  }

  .em:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/em_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/em_en.png);
    }
  }

  .lr:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/lr_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/lr_en.png);
    }
  }

  .vd:hover .watermark {
    &:lang(fr) {
      background: url(img/contact/vd_fr.png);
    }

    &:lang(en) {
      background: url(img/contact/vd_en.png);
    }
  }

  .avatar {
    margin-bottom: 1.2em;
  }

  .email {
    font-style: italic;
    border-top: 1px solid @grey;
    border-bottom: 1px solid @grey;

    A {
      padding: 2em 0;
    }
  }

  .website {
    A {
      padding: 1em 0;
    }
  }

  .li_designers {
    margin-top: 5em;

    > LI {
      width: @grid_1_width;
      margin-right: @grid_inter_width;
      vertical-align: text-top;

      &:last-child {
        margin-right: 0;
      }
    }

    UL LI {
      font-size: 1.3em;

      A {
        // On veut donner plus d'impact au lien.
        display: inline-block;
        width: 100%;
      }
    }
  }

  H2 {
    width: 100%;
    padding: 1.1em 0;
    font-size: 1.8em;
    font-weight: normal;
    border-color: @grey;

    A {
      padding: .5em;
      background: @white;
    }
  }
}

// ============================================================================
// Page de contact
// ============================================================================

.home_contact {
  text-align: center;
}

// ============================================================================
// Page d'enregistrement
// ============================================================================

.account_register {
  text-align: center;

  LABEL.newsletter {
    font-size: 1.2em;
    font-weight: bold;
    color: @darkgrey;
    text-transform: none;
  }
}

// ============================================================================
// Page de connexion
// ============================================================================

.account_login {
  .inside_form {
    text-align: right;

    A {
      font-size: 1.2em;
      color: @grey;
      text-decoration: underline;

      &:hover {
        color: @black;
      }
    }
  }
}
// ============================================================================
// Pages designer
// ============================================================================

.designer {
  .mosaic {
    // Mosaïque à trois colonnes.
    width: @mosaic_3_width;

    .current {
      opacity: .5;
      /*.overlay {
        background-color: @red;
      }*/
      // Quand il s'agit d'un motif sans variante, on a juste une image,
      // sinon on a un lien.
      A::before, &::before {
        position: absolute;
        display: block;
        width: @preview_width;
        height: @preview_height;
        content: '';
        -webkit-box-shadow: inset 0 0 3px @red;
        -moz-box-shadow: inset 0 0 3px @red;
        box-shadow: inset 0 0 3px @red;
      }
    }

    .watermark SPAN {
      right: 0;
      bottom: 0;
      padding: .5em 1em;
      text-transform: uppercase;
    }
  }

  .vignette:hover .watermark {
    &:lang(fr) {
      background: data-uri("img/watermarks/seemore_fr.png");
    }

    &:lang(en) {
      background: data-uri("img/watermarks/seemore_en.png");
    }
  }

  NAV {
    font-size: 1.2em;
    border-bottom: 1px solid @grey;

    LI:hover, LI.current {
      background: no-repeat right center data-uri("img/arrow.png");

      A {
        color: @current_link_color;
      }
    }

    A {
      display: block;
      width: @grid_1_width;
      padding: .5em 0;
      color: @darkgrey;
      text-transform: uppercase;
      border-top: 1px solid @grey;
    }
  }

  .info {
    float: right;
    width: @grid_1_width;

    P {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 1.4em;
      color: @darkgrey;

      A {
        display: block;
        padding-top: .5em;
        padding-bottom: .5em;
        margin-bottom: 2em;
        color: @darkgrey;
      }
    }
  }

  .info_sticky {
    position: fixed;
    background-color: @white;
  }

  .info_top {
    top: 2.3em;
  }
}
