/*csslint important:false, universal-selector:false*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  IMG {
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  P,
  H2,
  H3 {
    orphans: 3;
    widows: 3;
  }

  H2,
  H3 {
    page-break-after: avoid;
  }
}
