/*csslint important:false, universal-selector:false*/

@import "chiffon.vars.less";

// NB: On garde cette feuille de style séparée car elle contient des règles
// différentes à appliquer par csslint.
// Quelques recommendations :
// http://coding.smashingmagazine.com/2013/03/08/tips-tricks-print-style-sheets/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: 0.5cm;
  }

  H2,
  H3 {
    page-break-after: avoid;
  }

  P {
    orphans: 3;
    widows: 3;
  }

  // Cf. https://developer.mozilla.org/en-US/docs/Web/CSS/filter
  IMG {
    // TODO: Force-t-on l'usage d'une palette de couleurs grise.
    //-webkit-filter: grayscale(100%);
    //// IE 4/9
    //filter: gray;
    //// TODO: Déclarer un type MIME pour SVG.
    //// Firefox
    //filter: url(grayscale-filter.svg#grayscale);  // À vérifier.
    //filter: grayscale(100%);
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  .designer .watermark SPAN {
    display: block;
    padding: .2em 1em;
    background-color: @white !important;
  }
}
