
@import "chiffon.vars.less";
@import "chiffon.utils.less";

// Règles communes.
// Largeur de l'écran < 4-colonnes.

HEADER H1 A {
  .raw_text;
}

/*
  H1 EM:first-child, H1 STRONG {
    display: block;
  }
*/

// Le menu designer devient centré et chaque entrée prend une largeur automatique.
.designers_menu {
  .li_inline2center;

  LI {
    width: auto;
  }
}

/*.modal {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  display: block;
  width: 90%;
  height: 90%;
  margin: auto;
}*/
