
@import "chiffon.common.less";

@media (min-width: @grid_3_width) and (max-width: @grid_4_width) {
  BODY {
    width: @grid_3_width;
  }

  H1 EM:first-child, H1 STRONG:first-child {
    display: block;
  }

  #nav_who LI {
    width: 160px;
  }

  //.mosaic_100 {
  //  width: @mosaic_3_width;
  //}

  .mosaic_75 {
    width: @mosaic_2_width;
  }
}

@media (max-width: @grid_3_width) {
  BODY {
    width: @grid_2_width;
  }

  H1 EM:first-child, H1 STRONG {
    display: block;
  }

  NAV.main {
    UL {
      height: 40px;
      padding-left: 0;
      text-align: left;
    }

    LI {
      margin: 13px 10px 0 0;
    }
  }

  #nav_who {
    height: auto;
    background: none;

    LI {
      margin: 12px auto;
      width: 230px;
    }
  }

  //.mosaic_100 {
  //  width: @mosaic_2_width;
  //}

  .mosaic_75 {
    width: @mosaic_1_width;
  }
}
