
// Couleurs de base.

@black: #000;
@darkgrey: #999;
@grey: #ccc;
@lightgrey: #eee;
@white: #fff;
@red: #f00;

@text_color: @black;
@current_link_color: @red;
@error_color: @red;
         
// Dimensions.

@grid_column_width: 220px;
@grid_inter_width: 20px;
@grid_75_width: (3 * @grid_column_width + 2 * @grid_inter_width);
@grid_100_width: (4 * @grid_column_width + 3 * @grid_inter_width);
              
// Motifs.
               
@preview_width: @grid_column_width;
@preview_height: 160px;

@pattern_width: @grid_75_width;
@pattern_heigth: 520px;
