<p class=noparsep>
 Inspired by the nature, the childhood, the fifties or the street, the graphic works and illustrations of our collective are intended to be used in the lingerie, fashion, stationery or lifestyle markets.
</p>
@if (User.Identity.IsAuthenticated) {
 <p class=noparsep>
  We hope our catalog will meet your expectations and needs.
 </p>
}
else {
 <p class=noparsep>
  We hope our catalog will meet your expectations and needs. The access is private but you just need to register, whereupon you will receive your password.
 </p>
}
<p class=noparsep>
 Enjoy your visit.
</p>
