<div class="serif grey clr">
 <h2>Vous souhaitez contactez le collectif ?</h2>
 <p><a id=collective href="#">pourquelmotifsimone@gmail.com</a></p>
 <h2>ou un membre du collectif ?</h2>
 <ul id=designers>
  <li>
   <h3 class=strike><a href="#">Chicamancha</a></h3>
   <ul>
    <li class=img><a href="#" rel=cm>
     <img src="/chicamancha/motif-1_preview.jpg" alt="" /></a></li>
    <li class=email><a href="#">chicamancha@hotmail.com</a></li>
    <li class=web><a href="//www.chicamancha.com">www.chicamancha.com</a></li>
   </ul>
  </li>
  <li>
   <h3 class=strike><a href="#">Viviane Devaux</a></h3>
   <ul>
    <li class=img><a href="#" rel=vd>
     <img src="/viviane-devaux/motif-1_preview.jpg" alt="" /></a></li>
    <li class=email><a href="#">viviane.vdx@gmail.com</a></li>
    <li class=web><a href="//www.vivianedevaux.com">www.vivianedevaux.com</a></li>
   </ul>
  </li>
  <li>
   <h3 class=strike><a href="#">Christine Légeret</a></h3>
   <ul>
    <li class=img><a href="#" rel=cl>
     <img src="/christine-legeret/motif-1_preview.jpg" alt="" /></a></li>
    <li class=email><a href="#">christinelegeret@gmail.com</a></li>
    <li class=web><a href="//www.christinelegeret.com">www.christinelegeret.com</a></li>
   </ul>
  </li>
  <li>
   <h3 class=strike><a href="#">Laure Roussel</a></h3>
   <ul>
    <li class=img><a href="#" rel=lr>
     <img src="/laure-roussel/motif-1_preview.jpg" alt="" /></a></li>
    <li class=email><a href="#">laureroussel@gmail.com</a></li>
    <li class=web><a href="//www.laureroussel.com">www.laureroussel.com</a></li>
   </ul>
  </li>
 </ul>
</div>
