@Html.Partial(ViewName.Shared.DesignerMenu)
<div class="serif grey serif_large">
 <p class=tidy style="color: #000;">
  Les Simones sont en train de peaufiner leur site.
 </p>
 <p class=tidy style="color: #000;">
  L'ouverture est pour très bientôt !
 </p>
 <p class=tidy>
  Nous espérons que ce catalogue saura répondre à vos attentes et à vos envies. La consultation sera en accès privé.
 </p>
</div>
