<%@ Master Language="C#" CodeBehind="Error.master.cs" Inherits="Chiffon.Errors.ErrorMasterPage" %>

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title></title>
 <meta name=robots content="noindex, nofollow" />
 <link href="//fonts.googleapis.com/css?family=Droid+Serif:400italic" rel=stylesheet />
 <style>
  body {
   padding: .5em;
   text-align: center;
   font-family: "Droid Serif", Georgia, "Times New Roman", serif;
   font-size: 3.6em;
   font-style: italic;
   line-height: 1.5;
  }

  p {
   max-width: 940px;
   margin: .5em auto;
  }

  @media only screen and (max-width: 460px) {
   body {
    font-size: 1.8em;
   }
  }
 </style>
</head>
<body>
 <asp:HyperLink NavigateUrl="~/" runat=server>
   <img width=144 height=144 alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAACQAQMAAADdiHD7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA//7+y8WeCgAAAIpJREFUSInt1TEKBDEMA0CBvmXw1w3+lkFX3bHLdbG6XZdTxCFxFOCtBxbLRqw/OyQWIu4dTondw8ru2hPYKuoqx5RqTao1ewKoSV0bHhM1OXnDBaknWwZipSYiNawtISgVpQpsKb6r8mfH5NyX9byM92idL+fcW9+jMSe8+eXLVTjzHtZ/6K0n1Afz5rOI/4rCoQAAAABJRU5ErkJggg==" />
 </asp:HyperLink>
 <p>
  <asp:ContentPlaceHolder ID="ErrorMessageCph" runat="server">
   <%= VR.Error_DefaultMessage %>
  </asp:ContentPlaceHolder>
 </p>
 <asp:ContentPlaceHolder ID="ReturnHomeCph" runat="server">
  <p>
   <asp:HyperLink NavigateUrl="~/" runat=server CssClass=home><%= VR.Error_Home %></asp:HyperLink>
  </p>
 </asp:ContentPlaceHolder>
 <%-- TODO: Ajouter Google Analytics --%>
</body>
</html>
