<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <pages autoEventWireup="false" clientIDMode="Predictable">
      <namespaces>
        <add namespace="Chiffon.Resources" />
        <add namespace="Narvalo.Web.UI.Assets" />
      </namespaces>
    </pages>
  </system.web>
</configuration>