<nav id=nav_members class=clr>
 <ul class="serif strike inline">
  <li><a href="/chicamancha" id=nav_members_cm>Chicamancha</a></li>
  <li><a href="/viviane-devaux" id=nav_members_vd>Viviane Devaux</a></li>
  <li><a href="/christine-légeret" id=nav_members_cl>Christine Légeret</a></li>
  <li class=last><a href="/laure-roussel" id=nav_members_lr>Laure Roussel</a></li>
 </ul>
</nav>
