<div class=home_contact>
 <h2>@VR.Home_ContactConfirmation_Heading</h2>
 <p class=highlight_text>
  @VR.Home_ContactConfirmation_AnsweringSoon
 </p>
 <p class=switch>
  <a href="@Url.RouteUrl(Constants.RouteName.Home.Index)">@VR.Home_ContactConfirmation_BrowseGallery</a>
 </p>
</div>
