@{
 ViewBag.Title = "Pour quel motif, Simone ?";
 ViewBag.Id = "home";
 //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MemberMenu")
<ul class="mosaic shadow len_100 clr">
 <li><a href="inscription" rel=modal class="vignette vd">
  <img src="/viviane-devaux/motif-1_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="/chicamancha/motif-1_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="/christine-legeret/motif-1_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="/laure-roussel/motif-1_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="/chicamancha/motif-2_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="/christine-legeret/motif-2_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="/viviane-devaux/motif-2_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="/laure-roussel/motif-2_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="/christine-legeret/motif-3_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="/laure-roussel/motif-3_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="/viviane-devaux/motif-3_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="/chicamancha/motif-3_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette lr">
  <img src="/laure-roussel/motif-4_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette vd">
  <img src="/viviane-devaux/motif-4_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cm">
  <img src="/chicamancha/motif-4_preview.jpg" alt="" /></a></li>
 <li><a href="#" class="vignette cl">
  <img src="/christine-legeret/motif-4_preview.jpg" alt="" /></a></li>
</ul>
