<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <WebSite deploy="true">
    <SourceRelativePath>pourquelmotifsimone.com</SourceRelativePath>
    <BackupPackage>pourquelmotifsimone.com.zip</BackupPackage>
    <IISAppPool>pourquelmotifsimone.com</IISAppPool>
    <IISWebSite>pourquelmotifsimone.com</IISWebSite>
    <IISPhysicalPath>D:\Narvalo.Org\chiffon\www</IISPhysicalPath>
  </WebSite>
  <MediaSite deploy="false">
    <SourceRelativePath>p.pourquelmotifsimone.com</SourceRelativePath>
    <BackupPackage>p.pourquelmotifsimone.com.zip</BackupPackage>
    <IISAppPool>pourquelmotifsimone.com</IISAppPool>
    <IISWebSite>p.pourquelmotifsimone.com</IISWebSite>
    <IISPhysicalPath>D:\Narvalo.Org\chiffon\www-media</IISPhysicalPath>
  </WebSite>
  <Assets deploy="true">
    <SourceRelativePath>wznw.org_chiffon</SourceRelativePath>
    <BackupPackage>wznw.org_chiffon.zip</BackupPackage>
    <IISAppPool>wznw.org</IISAppPool>
    <IISWebSite>wznw.org</IISWebSite>
    <IISPhysicalPath>D:\Narvalo.Org\wznw\www\chiffon</IISPhysicalPath>
  </Assets>
</configuration>