<p class=noparsep>
 Conformément aux lois régissants les droits d'auteurs, les éléments du site (motifs, illustrations et maquette) pourquelmotifsimone.com sont la propriété exclusive de leurs auteurs. En conséquence toute image utilisée sans le consentement de l'auteur pourra donc faire l'objet de poursuite.
</p>
@*<p class=noparsep>
 Conception graphique : Viviane Devaux. Mise en forme : chtoucas@narvalo.org.
</p>*@