<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <pages pageBaseType="Chiffon.Common.EnrichedWebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Chiffon.Common" />
        <add namespace="Chiffon.Properties" />
        <add namespace="Chiffon.ViewModels" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>
